* {
  font-family: "Source Sans 3", sans-serif !important;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

button {
  text-transform: none !important;
}

.header {
  background-image: url("../../public/header.svg");
  height: 500px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;
}

section {
  padding-top: 15px;
  padding-bottom: 100px;
}

.css-1peyhh5-MuiButtonBase-root-MuiCheckbox-root {
  color: #fff !important;
}
.css-1peyhh5-MuiButtonBase-root-MuiCheckbox-root.Mui-checked,
.css-1peyhh5-MuiButtonBase-root-MuiCheckbox-root.MuiCheckbox-indeterminate {
  color: #d32f2f !important;
}

/* CustomSlider.css */
.swiper-button-prev::after {
  display: none;
}

.swiper-button-next::after {
  display: none;
}

.search-input ::placeholder {
  font-size: 11px;
}

.css-17mmue9-MuiButtonBase-root-MuiButton-root {
  font-family: "Source Sans 3", sans-serif !important;
}

.next-btn {
  position: absolute;
  right: -2%;
  bottom: 45%;
  cursor: pointer;
  z-index: 2220;
}

.prev-btn {
  position: absolute;
  left: -2%;
  bottom: 45%;
  z-index: 2220;

  cursor: pointer;
}

.css-2oe6m4-MuiSlider-markLabel,
.css-1kmqerr-MuiSlider-markLabel {
  font-size: 20px !important;
  font-weight: 600 !important;
  color: #2c2c2c !important;
}

.css-2oe6m4-MuiSlider-markLabel {
  left: 94% !important;
}

.css-1kmqerr-MuiSlider-markLabel {
  left: 6% !important;
}

.basic-menu {
  top: 73px !important;
}

.leaflet-container {
  height: 200px;
  width: 100%;
}

@media (max-width: 768px) {
  .header {
    background-image: url("../../public/header-mobile.svg");
    height: 246px;
  }

  .css-52fzo0-MuiTypography-root {
    font-weight: 600 !important;
    font-size: 1.3rem !important;
  }

  .destination-image {
    height: 100%;
    width: 100%;
  }
  .divider-account {
    margin: 0 !important;
  }

  .next-btn,
  .prev-btn {
    display: none;
  }

  .search-input ::placeholder {
    font-size: 12px;
  }
}
